
.botonItemCount{
	 background-color: rgb(52, 69, 161);
    border-radius: 50%;
}
.itemText{
	text-align: center;
}
.itemCount{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
